<h1>Listing request_states</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_states.each do |request_state| %>
      <tr>
        <td><%= request_state.name %></td>
        <td><%= link_to 'Show', request_state %></td>
        <td><%= link_to 'Edit', edit_request_state_path(request_state) %></td>
        <td><%= link_to 'Destroy', request_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request state', new_request_state_path %>
