<p id="notice"><%= notice %></p>

<p>
  <strong>Source name:</strong>
  <%= @request.source_name %>
</p>

<p>
  <strong>Source email:</strong>
  <%= @request.source_email %>
</p>

<p>
  <strong>Source text:</strong>
  <%= @request.source_text %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @request.visible %>
</p>

<p>
  <strong>Request state:</strong>
  <%= @request.request_state_id %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
