<p>Nuevo contacto desde IUVARE.MX</p>
<br/>
<p>Nombre: <%= @contact["nombre"] %></p>
<p>Ocupación: <%= @contact["ocupacion"] %></p>
<p>Teléfono: <%= @contact["telefono"] %></p>
<p>Email: <%= @contact["email"] %></p>
<p>Enteraste: <%= @contact["enteraste"] %></p>
<p>Comentarios: <%= @contact["comentarios"] %></p>
