<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @asset.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @asset.author %>
</p>

<p>
  <strong>Source:</strong>
  <%= @asset.source %>
</p>

<p>
  <strong>Purchasable:</strong>
  <%= @asset.purchasable %>
</p>

<p>
  <strong>Price:</strong>
  <%= @asset.price %>
</p>

<p>
  <strong>Asset type:</strong>
  <%= @asset.asset_type %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
