<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @goal.user_id %>
</p>

<p>
  <strong>Dream:</strong>
  <%= @goal.dream %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @goal.goal %>
</p>

<p>
  <strong>Date:</strong>
  <%= @goal.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @goal.goal_type %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
