<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @test.test_type %>
</p>

<p>
  <strong>Code:</strong>
  <%= @test.code %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
